:root {
    --primary-color: #0a1847;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2b2a2a71;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
    text-align: center;
}

p {
    text-align: center;
}

.btn {
    color: white;
    background: var(--primary-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e0bb35;
}

.conversor-imagen {
    width: 150px;
}

.moneda {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.moneda select {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.moneda input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
    text-align: right;
    width: 200px;
}

.taza-cambio-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.cambio {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 600;
}
